*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
}

.background{
    height: 90vh;
}

.hr{
    margin-top: 10px;
    background: #000;
    height: 2px;
    width: 10%;
    /* border: 1px solid #000; */
    transition: 0.3s;
}
.hr:hover
{
    background: #350B71;
    width: 80%;
}
a{
    color: #666;
    font-size: 17px;
    font-weight: bolder;
    padding: 10px;
}
a:hover
{
    text-decoration: none;
    color: #0075C5;
}
#mainText
{
    margin-top: 10px;
}
#menu
{
    margin: 0 ;
}
#menu li{
    display: inline-block;
    padding: 3px;
}
h1{
    color: #fff;
}
.text-color {
    color: #fff
}

.carousel-item img {
    height: 400px
}
.c6b{
    background: #222;
    border-radius: 10px;
}

.cbt{
    color: #0075C5;
}
#cimg:hover img{
    transform: scale(0.9);
    transition: all 1s;
}
#cbox{
    border: #0075C5 solid 1px;
    border-radius: 10px;
}

.ncbg{
    background: #111;
}

.ncd{
    margin-top: 100px;
}

#th{
    color: #0075C5;
}
.ch{
    color: #444;
}
.vf{
    background: #333;
    border-radius: 10px;
}
.ch:hover{
    color: #0075C5;
    margin-left: 10px;
    transition: all 1s;
}

.clr{
    color: #444;
}

.logoi{
    width: 150px;
}
.logoi2{
    width: 70px;
    border: #0075C5 solid 1px;
}

/* signin page */

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

/* project page */

.bks{
    border: 1px solid #0075C5;
    background: rgba(0,0,0,0.1);
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 20px 20px 50px rgba(56, 56, 56, 0.349);

}
.ghj a:hover{
    background: #0075C5;
    color: #fff;
}

.glow{
    background-color: 1px solid rgb(112 0 255 / 0.7);
    height: 100px;
    width: 100px;
    filter: blur(120px);
    position: absolute;
    top: 70px;
    left: 100px;
    z-index: -10;
}

.tkl{
    /* font-size: 100px;  */
    background: #888; 
    border-radius:50%; 
    margin: 15px;
    padding: 10px;
}


#section_2 {
	background: linear-gradient(-45deg, #23a5d5cb, #000, #23a5d593,#000);
	background-size: 600% 600%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.body-background {
    isolation: isolate;
    position: absolute;
    filter: blur(7vh);
    z-index: -1;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  
  .circle {
    border-radius: 50%;
    mix-blend-mode: screen;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  
  .circle-1 {
    width: 40vh;
    height: 40vh;
    background: purple;
    animation: 6s move-circle-1 linear infinite;
    top: 4%; 
    left: 10%;
    transform: translate(-50%, -50%); 
    filter: blur(8vh);

  }
  
  .circle-2 {
    width: 30vh;
    height: 30vh;
    background: darkblue;
    animation: 5s move-circle-2 linear infinite;
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    filter: blur(8vh);
  }
  
  .circle-3 {
    width: 70vh;
    height: 70vh;
    background: indigo;
    animation: 15s move-circle-3 linear infinite;
    top: 40%; 
    left: 35%;
    transform: translate(-50%, -50%); 
    filter: blur(8vh);
  }
  
  .circle-4 {
    width: 100vh;
    height: 100vh;
    background: midnightblue;
    animation: 8s move-circle-4 linear infinite;
    left: 80%;
    top: 20%;
    filter: blur(15vh);
  }
  
  .content {
    text-align: center;
  }
  
  .pane {
    box-shadow: 20px 20px 50px rgba(56, 56, 56, 0.349);
    border-radius: 15px;
    border-top:1px solid rgba(255,255,255,0.2);
    border-left:1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    background-color: rgba(7,7,7,0.1);
    transform-style: preserve-3d;
    transform: perspective(800px)
  }
  
  @keyframes move-circle-1 {

    0%{
      transform:rotate(0deg)
                translate(-15vh)
                rotate(0deg);
    }
    100%{
      transform:rotate(360deg)
                translate(-15vh)
                rotate(-360deg);
    }
  }
  
  @keyframes move-circle-2 {
    0%{
      transform:rotate(0deg)
                translate(-5vh)
                rotate(0deg);
    }
    100%{
      transform:rotate(-360deg)
                translate(-5vh)
                rotate(360deg);
    }
  }
  
  
  @keyframes move-circle-3 {
    0%{
      transform:rotate(0deg)
                translate(-5vh)
                rotate(0deg);
    }
    100%{
      transform:rotate(360deg)
                translate(-5vh)
                rotate(-360deg);
    }
  }
  
  @keyframes move-circle-4 {
    0%{
      transform:rotate(0deg)
                translate(-10vh)
                rotate(0deg);
    }
    100%{
      transform:rotate(-360deg)
                translate(-10vh)
                rotate(360deg);
    }
  }